*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}
.bg{
  background-image: url(../imagenes/bg\ numeros.avif);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-size: 30px;
}
body {
  text-align: center;
}
ol{
  text-decoration: none;
}      
h1 {
  color: #333;
  padding-top: 100px;
}
p{
  font-size: 22px;
}
h2{
  font-size: 20px;
}
.negrita{
  font-weight: bold;
}
 
      